@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #ffffff;
  font-size: 1.6rem;
  counter-reset: number 0;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 300;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* color変数 */
/* フォント変数 */
/*--------------------------------
コンポーネント
--------------------------------*/
.ly_section {
  padding-left: 4vw;
  padding-right: 4vw;
}

.ly_inner {
  max-width: 1180px;
  margin: 0 auto;
}

.el_section_ttl {
  letter-spacing: 0.4em;
  font-size: 2.8rem;
  font-weight: 500;
  position: relative;
}

.el_logo.el_logo__lg {
  width: 200px;
}

.el_logo.el_logo__md {
  width: 150px;
  vertical-align: baseline;
}

.el_logo.el_logo__sm {
  width: 100px;
  vertical-align: baseline;
  margin-right: 0.5em;
}

.bl_banner_container .el_banner {
  display: inline-block;
  width: 200px;
}

.bl_banner_container .el_banner:hover {
  cursor: pointer;
}

/*--------------------------------
ヘッダー
--------------------------------*/
header {
  padding-left: 4vw;
  padding-right: 4vw;
  top: 0;
  position: absolute;
  z-index: 9999;
}

header .el_logoMark {
  width: 60px;
  vertical-align: middle;
}

header .el_logo {
  width: 200px;
  vertical-align: middle;
}

/*--------------------------------
ファーストビュー
--------------------------------*/
.ly_fv {
  width: 100vw;
  height: 100vh;
  top: 0;
  background-image: url(/img/longhair-girl.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  z-index: -2;
}

.el_fv_copy {
  max-width: 1180px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bl_fv_wrapper {
  padding-top: 75vh;
}

.bl_fv_wrapper h1 {
  font-size: 2rem;
}

/*--------------------------------
コンセプトセクション
--------------------------------*/
#concept.ly_section {
  background-image: url(/img/PIXNIO-2168477-6000x4000.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
  height: 100vh;
  max-height: 1080px;
}

#concept.ly_section::before {
  /* 透過させた黒を重ねる */
  background-color: rgba(0, 0, 0, 0.5);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
  z-index: -1;
}

#concept.ly_section::after {
  content: "#Concept";
  font-family: mina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12rem;
  opacity: 0.5;
  -webkit-transform: rotate(333deg);
          transform: rotate(333deg);
  position: absolute;
  top: 19%;
  left: -6%;
}

#concept.ly_section .bl_section_wrapper {
  height: 100vh;
  max-height: 1080px;
}

#concept.ly_section .el_section_ttl {
  width: 45%;
  margin-right: 5%;
}

#concept.ly_section .bl_section_body {
  width: 50%;
}

#concept.ly_section .bl_section_body figure {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

/*--------------------------------
アバウトセクション
--------------------------------*/
#about.ly_section {
  background-image: url(/img/寝転んでスマホを触る女性.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
  height: 100vh;
  max-height: 1080px;
}

#about.ly_section::after {
  content: "#About";
  font-family: mina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12rem;
  opacity: 0.5;
  -webkit-transform: rotate(333deg);
          transform: rotate(333deg);
  position: absolute;
  top: 0;
  right: 0;
}

#about.ly_section::before {
  /* 透過させた黒を重ねる */
  background-color: rgba(0, 0, 0, 0.3);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
  z-index: -1;
}

#about.ly_section .bl_section_wrapper {
  height: 100vh;
  max-height: 1080px;
}

#about.ly_section .bl_section_imgWrapper {
  width: 50%;
}

#about.ly_section .icon_unit {
  position: relative;
  display: inline-block;
  width: 200px;
}

#about.ly_section .bubble {
  display: block;
  max-width: none;
  position: absolute;
}

#about.ly_section #bubble1 {
  width: 300px;
  left: 100px;
  top: -180px;
}

#about.ly_section #bubble2 {
  width: 350px;
  left: 40px;
  top: -377px;
}

#about.ly_section #bubble3 {
  width: 400px;
  left: -220px;
  top: -270px;
}

#about.ly_section #bubble4 {
  width: 300px;
  top: 210px;
  left: 40px;
}

#about.ly_section #bubble5 {
  width: 250px;
  left: -200px;
}

#about.ly_section #bubble6 {
  width: 200px;
  top: 380px;
  left: -80px;
}

#about.ly_section .el_section_ttl {
  width: 80%;
}

#about.ly_section .bl_section_body {
  width: 50%;
}

#about.ly_section .bl_section_header {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

#about.ly_section .bl_section_header .strong {
  color: #7ad2f7;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

/*--------------------------------
フューチャーセクション
--------------------------------*/
#feature.ly_section {
  background-image: url(/img/room.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
}

#feature.ly_section::after {
  content: "#feature";
  font-family: mina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12rem;
  opacity: 0.5;
  -webkit-transform: rotate(333deg);
          transform: rotate(333deg);
  position: absolute;
  top: -5%;
  left: 10%;
}

#feature.ly_section::before {
  /* 透過させた黒を重ねる */
  background-color: rgba(0, 0, 0, 0.3);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
  z-index: -1;
}

#feature.ly_section .el_section_ttl {
  width: 50%;
}

#feature.ly_section .ly_section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#feature.ly_section .ly_section_container:last-child figure {
  margin-right: 5%;
}

#feature.ly_section .bl_section_body {
  width: 50%;
}

#feature.ly_section .bl_section_header {
  font-weight: bold;
  color: #7ad2f7;
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  letter-spacing: .1em;
}

#feature.ly_section .bl_section_header::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(/img/mark_accent.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*--------------------------------
オーダーセクション
--------------------------------*/
#order.ly_section {
  background-image: url(/img/smiring-girl.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
  /* 3カラム */
}

#order.ly_section::after {
  content: "#Order";
  font-family: mina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12rem;
  opacity: 0.5;
  -webkit-transform: rotate(333deg);
          transform: rotate(333deg);
  position: absolute;
  top: 0;
  right: 0;
}

#order.ly_section::before {
  /* 透過させた白を重ねる */
  background-color: rgba(0, 0, 0, 0.2);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
  z-index: -1;
}

#order.ly_section .el_section_ttl {
  width: 50%;
}

#order.ly_section .bl_card_imgWrapper {
  position: relative;
  padding-top: 330px;
}

#order.ly_section .bl_card_imgWrapper > img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#order.ly_section .bl_card_body {
  padding: 0 20px;
}

#order.ly_section .bl_card_body > *:last-child {
  margin-bottom: 0;
}

#order.ly_section .bl_card_ttl {
  margin-bottom: 5px;
  font-size: 2.4rem;
  white-space: nowrap;
  color: #7ad2f7;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

#order.ly_section .bl_card_ttl span {
  position: absolute;
  bottom: 52px;
  right: -40px;
  font-family: mina, serif;
  font-weight: 400;
  font-style: normal;
  color: #7ad2f7;
  font-size: 10rem;
}

#order.ly_section .bl_card_txt {
  color: #ffffff;
  text-align: left;
}

#order.ly_section .bl_cardUnit .bl_card:nth-of-type(2) img {
  top: 40%;
}

#order.ly_section .bl_cardUnit {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#order.ly_section .bl_cardUnit.bl_cardUnit__col3 {
  margin-bottom: -30px;
}

#order.ly_section .bl_cardUnit__col3 > .bl_card {
  width: 30%;
  margin-bottom: 30px;
}

#order.ly_section .bl_cardUnit__col3 > .bl_card:nth-child(3n) {
  margin-right: 0;
}

/*--------------------------------
ディティールセクション
--------------------------------*/
#detail.ly_section {
  background-image: url(/img/AdobeStock_421274922_Preview.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
  /* カード基本形 */
  /* 3カラム */
}

#detail.ly_section::after {
  content: "#Detail";
  font-family: mina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12rem;
  opacity: 0.5;
  -webkit-transform: rotate(333deg);
          transform: rotate(333deg);
  position: absolute;
  top: 0;
  left: 0;
}

#detail.ly_section::before {
  /* 透過させた白を重ねる */
  background-color: rgba(0, 0, 0, 0.2);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
  z-index: -1;
}

#detail.ly_section .el_section_ttl {
  width: 50%;
}

#detail.ly_section .bl_card {
  -webkit-box-shadow: 4px 4px 2px rgba(119, 119, 119, 0.3);
          box-shadow: 4px 4px 2px rgba(119, 119, 119, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px 5px 20px 5px;
  position: relative;
  z-index: 99;
}

#detail.ly_section .bl_card::after {
  border-bottom: 3px dotted #777;
  content: "";
  position: absolute;
  top: 35px;
  left: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 50px;
}

#detail.ly_section .bl_card_imgWrapper {
  position: relative;
  padding-top: 56%;
}

#detail.ly_section .bl_card_imgWrapper > img {
  position: absolute;
  max-width: 90px;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#detail.ly_section .bl_card_body {
  padding: 15px;
}

#detail.ly_section .bl_card_body > *:last-child {
  margin-bottom: 0;
}

#detail.ly_section .bl_card_ttl {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  color: #7ad2f7;
  letter-spacing: 0.1em;
}

#detail.ly_section .bl_card_subTtl {
  text-align: center;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: #7ad2f7;
  letter-spacing: 0.5em;
}

#detail.ly_section .bl_card_txt {
  color: #777;
  padding: 20px 10%;
}

#detail.ly_section .bl_cardUnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#detail.ly_section .bl_cardUnit.bl_cardUnit__col3 {
  margin-bottom: -100px;
}

#detail.ly_section .bl_cardUnit__col3 > .bl_card {
  width: 30%;
  margin-right: 5%;
  margin-bottom: 100px;
}

#detail.ly_section .bl_cardUnit__col3 > .bl_card:nth-child(3n) {
  margin-right: 0;
}

/*--------------------------------
ボイスセクション
--------------------------------*/
#voice.ly_section {
  background-image: url(/img/street.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
}

#voice.ly_section::after {
  content: "#Voice";
  font-family: mina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12rem;
  opacity: 0.5;
  -webkit-transform: rotate(333deg);
          transform: rotate(333deg);
  position: absolute;
  top: 0;
  right: 0;
}

#voice.ly_section::before {
  /* 透過させた黒を重ねる */
  background-color: rgba(0, 0, 0, 0.2);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
  z-index: -1;
}

#voice.ly_section .el_section_ttl {
  width: 50%;
}

#voice.ly_section .bl_card .blank {
  width: 30%;
}

#voice.ly_section .bl_card:nth-of-type(2n + 1) {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

#voice.ly_section .bl_card:nth-of-type(2n) {
  margin-top: -150px;
  margin-bottom: -100px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

#voice.ly_section .bl_card_body {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 70px 30px;
  width: 50%;
  position: relative;
  max-width: 450px;
}

#voice.ly_section figure {
  width: 100px;
  position: absolute;
  padding: 10px;
  top: 20px;
  right: 30px;
}

#voice.ly_section .bl_card_body > *:last-child {
  margin-bottom: 0;
}

#voice.ly_section .bl_card_ttl {
  color: #141414;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 60px;
  font-size: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  position: relative;
}

#voice.ly_section .bl_card_ttl:before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url(/img/quote.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  top: -46px;
  left: 18px;
  position: absolute;
}

#voice.ly_section .bl_card_txt {
  padding: 20px 20px;
  color: #777;
}

#voice.ly_section .bl_card_txt span {
  font-size: 200%;
  line-height: 1.3;
  color: #141414;
  margin-right: .2em;
}

#voice.ly_section .bl_card_detail {
  color: #777;
  position: relative;
  float: right;
}

#voice.ly_section .bl_card_detail::before {
  content: "";
  left: -3em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 1px;
  background-color: #777;
}

/*--------------------------------
Q&Aセクション
--------------------------------*/
#qa.ly_section {
  background-image: url(/img/振り返る女性.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 100px;
  z-index: -2;
  margin-bottom: -125px;
}

#qa.ly_section::after {
  content: "#Q&A";
  font-family: mina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12rem;
  opacity: 0.5;
  -webkit-transform: rotate(333deg);
          transform: rotate(333deg);
  position: absolute;
  top: 0;
  left: 0;
}

#qa.ly_section::before {
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 200, 200, 0.3);
  background-image: radial-gradient(at top, rgba(250, 247, 196, 0) 42.86%, khaki);
  position: absolute;
  top: 0;
  left: 0;
}

#qa.ly_section .el_section_ttl {
  width: 45%;
}

#qa.ly_section .bl_section_item {
  max-width: 300px;
  width: 32%;
  padding-left: 20px;
  border-left: 2px dotted;
}

#qa.ly_section .bl_section_item .bl_section_q {
  font-weight: 500;
  margin-bottom: 10px;
}

#qa.ly_section .bl_section_item .bl_section_a {
  font-size: 90%;
}

#qa.ly_section #qa1 {
  margin-left: 15%;
}

#qa.ly_section #qa2 {
  margin-left: 10%;
}

#qa.ly_section #qa3 {
  margin-left: 5%;
}

.q {
  width: 30px;
  margin-right: 0.1em;
}

#qa2.ly_section {
  background-image: url(/img/ゼブラ柄の女性_shadow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-position-x: 80%;
  z-index: -2;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

#qa2.ly_section::before {
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 200, 200, 0.4);
  background-image: radial-gradient(at bottom, rgba(250, 247, 196, 0) 42.86%, khaki);
  position: absolute;
  top: 0;
  left: 0;
}

#qa2.ly_section .bl_section_list {
  margin-top: 60px;
  margin-bottom: -30px;
}

#qa2.ly_section .bl_section_item {
  max-width: 300px;
  min-width: 220px;
  width: 32%;
  padding-left: 20px;
  border-left: 2px dotted;
}

#qa2.ly_section .bl_section_item .bl_section_q {
  font-weight: 500;
  margin-bottom: 10px;
}

#qa2.ly_section .bl_section_item .bl_section_a {
  font-size: 90%;
}

#qa2.ly_section #qa4 {
  margin-left: auto;
  margin-right: 0%;
}

#qa2.ly_section #qa5 {
  margin-left: auto;
  margin-right: 5%;
}

#qa2.ly_section #qa6 {
  margin-left: auto;
  margin-right: 0%;
}

/*--------------------------------
CTAセクション
--------------------------------*/
#cta.ly_section {
  background-image: url(/img/birds-eye.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#cta.ly_section::before {
  content: "";
  background: inherit;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

#cta.ly_section .el_section_ttl {
  width: 420px;
  display: block;
}

#cta.ly_section .bl_section_body {
  width: 50%;
}

#cta.ly_section .bl_section_header {
  white-space: nowrap;
}

#cta.ly_section .bl_section_img {
  width: 50%;
  margin-right: 5%;
}

#cta.ly_section .bl_section_img.bl_section_img__sm {
  display: none;
}

#cta.ly_section .el_banner {
  max-width: 200px;
}

/*--------------------------------
フッター
--------------------------------*/
footer {
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-weight: 200;
}

/*--------------------------------
ヘルパークラス
--------------------------------*/
.hp_br-pc {
  display: block;
}

.hp_br-tb {
  display: none;
}

.hp_br-sp {
  display: none;
}

.hp_disb {
  display: block;
}

.hp_sm {
  font-size: 70%;
}

.hp_lg {
  font-size: 150%;
  margin: 5px;
}

.hp_marker {
  border-bottom: 1px dotted #ffffa8;
}

.hp_mr10 {
  margin-right: 10px;
}

.hp_ml10 {
  margin-left: 10px;
}

.hp_mb10 {
  margin-bottom: 10px;
}

.hp_mt10 {
  margin-top: 10px;
}

.hp_mr30 {
  margin-right: 30px;
}

.hp_ml30 {
  margin-left: 30px;
}

.hp_mb30 {
  margin-bottom: 30px;
}

.hp_mt30 {
  margin-top: 30px;
}

.hp_mr50 {
  margin-right: 50px;
}

.hp_ml50 {
  margin-left: 50px;
}

.hp_mb50 {
  margin-bottom: 50px;
}

.hp_mt50 {
  margin-top: 50px;
}

.hp_mr80 {
  margin-right: 80px;
}

.hp_ml80 {
  margin-left: 80px;
}

.hp_mb80 {
  margin-bottom: 80px;
}

.hp_mt80 {
  margin-top: 80px;
}

.hp_mr100 {
  margin-right: 100px;
}

.hp_ml100 {
  margin-left: 100px;
}

.hp_mb100 {
  margin-bottom: 100px;
}

.hp_mt100 {
  margin-top: 100px;
}

.hp_mtLg {
  margin-top: 120px;
}

.hp_mbLg {
  margin-bottom: 120px;
}

.hp_mtMd {
  margin-top: 80px;
}

.hp_mbMd {
  margin-bottom: 80px;
}

.hp_mtSm {
  margin-top: 30px;
}

.hp_mbSm {
  margin-bottom: 30px;
}

/* padding  */
.hp_pt30 {
  padding-top: 30px;
}

.hp_pb30 {
  padding-bottom: 30px;
}

.hp_pt50 {
  padding-top: 50px;
}

.hp_pb50 {
  padding-bottom: 50px;
}

.hp_pt80 {
  padding-top: 80px;
}

.hp_pb80 {
  padding-bottom: 80px;
}

.hp_pt120 {
  padding-top: 120px;
}

.hp_pb120 {
  padding-bottom: 120px;
}

.hp_ptLg {
  padding-top: 120px;
}

.hp_pbLg {
  padding-bottom: 120px;
}

.hp_mtLg {
  margin-top: 120px;
}

.hp_mbLg {
  margin-bottom: 120px;
}

.hp_ptMd {
  padding-top: 80px;
}

.hp_pbMd {
  padding-bottom: 80px;
}

.hp_ptSm {
  padding-top: 30px;
}

.hp_pbSm {
  padding-bottom: 30px;
}

.hp_MT10 {
  margin-top: -10px !important;
}

.hp_MT20 {
  margin-top: -20px !important;
}

.hp_MT50 {
  margin-top: -50px !important;
}

.hp_MT1e {
  margin-top: -1em !important;
}

.hp_sp-br {
  display: none !important;
}

.hp_db {
  display: block !important;
}

.hp_tac {
  text-align: center !important;
}

.hp_tar {
  text-align: right !important;
}

.hp_tal {
  text-align: left !important;
}

.hp_w400 {
  width: 400px !important;
}

.hp_w50p {
  width: 50% !important;
}

.hp_lh1_5 {
  line-height: 1.5 !important;
}

.hp_bgImg_triangle {
  background: url(img/triangle-mosaic.png) !important;
}

.hp_bgImg_geometry {
  background: url(img/geometry.png) !important;
}

.hp_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hp_jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hp_jcsb {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.hp_jcsa {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.hp_aic {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.hp_aife {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hp_reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

.hp_clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.hp_clear {
  clear: both;
}

.hp_centering {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/*# sourceMappingURL=style.css.map */